.main {
  margin: 0 auto;
  text-align: center;
  font-family: 'BlinkMacSystemFont', -apple-system, Helvetica, Arial, sans-serif;
}

.container {
  display: block;
    max-width: 1020px;
    margin: 0 auto;
}

.paragraph, .controller, .instructions {
  border: 1px solid #333;
  border-radius: 5px; 
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.paragraph, .instructions {
    width: 70%;
}

.controller, .padding {
    width: 12%;
    padding-bottom: 13px;
}

.instructions {
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  width: 84.7%;
  background-color: #e8e8e8;
}

v-erb, n-oun, a-djective, a-dverb, c-onjunction, p-ronoun, p-reposition, i-nterjection, a-rticle {
  transition: color 0.2s ease;
  cursor: pointer;
}

.verb-color {
  color: #f15c5c;
}

.noun-color {
  color: #79bd9a;
}

.adjective-color {
  color: #f9c00c;
}

.adverb-color {
  color: #2b90d9;
}

.conjunction-color {
  color: #ff5f2e;
}

.pronoun-color {
  color: #7200da;
}

.preposition-color {
  color: #2EC4B6;
}

.interjection-color {
  color: #D81159;
}

.article-color {
  color: #1ec0ff;
}
